.git
.gitignore
.env
.idea
.vscode

frontend/node_modules
frontend/dist
frontend/npm-debug.log*

backend/**/target
backend/**/out

shared_data
kml_output

**/*.pcd
**/*.ply
**/*.las
**/*.laz
**/*.e57
**/*.bag
