<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whu.yun.mapper.PointCloudMapper">

    <insert id="insertPointCloud" parameterType="com.whu.yun.entity.PointCloudEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO point_cloud_data (robot_id, frame_id, file_path, point_count, timestamp,reception_count)
        VALUES (#{robotId}, #{frameId}, #{filePath}, #{pointCount}, #{timestamp},#{receptionCount})
    </insert>

    <select id="findByRobotId" parameterType="string" resultType="com.whu.yun.entity.PointCloudEntity">
        SELECT * FROM point_cloud_data WHERE robot_id = #{robotId} ORDER BY timestamp DESC
    </select>

</mapper>